<h1>Add new recipe</>

<form action= "/new_recipe" method= 'post'>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description">
  <label for="prep-time">Prep Time:</label><br>
  <input type="text" id="prep-time" name="prep-time">
  <label for="rating">Rating:</label><br>
  <input type="rating" id="rating" name="rating">
  <input type="submit" value="Submit">
</form>

<a href='/'>Go Back </a>
